*{margin: auto;
    padding:0;
    font-family:sans-serif;
    color:#fff;
}
.contacts {
    color:black;
}
div {
    padding-left: 10px;
}
#short{
    background-color: rgb(29, 87, 161);
    padding: 0px;
    margin: 5px;
    font-size: larger;
}
.main {width:100%;
    margin: auto;
    height:auto;
    position:relative;
    overflow: hidden;
    background-color: A59A9A;}

.top {
    text-align: center;
    padding:10px;
}
#photo{
    float: right; 
}
.headings {
    font-size: larger;
   margin: 20px;
   background-color:#867979;
}
.inner {
padding-left: 100px;
padding-bottom: 10px;

}
.years {
    color: blue;
    padding-left: 10px;
}